{% extends 'base.html.twig' %}

{% block title %}VoyageVirtuel index{% endblock %}

{% block body %}
    <h1>VoyageVirtuel index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Idvv</th>
                <th>ImageV</th>
                <th>Idv</th>
                <th>Ida</th>
                <th>Video</th>
                <th>Nom</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for voyage_virtuel in voyage_virtuels %}
            <tr>
                <td>{{ voyage_virtuel.idvv }}</td>
                <td>{{ voyage_virtuel.imageV }}</td>
                <td>{{ voyage_virtuel.idv }}</td>
                <td>{{ voyage_virtuel.ida }}</td>
                <td>{{ voyage_virtuel.video }}</td>
                <td>{{ voyage_virtuel.nom }}</td>
                <td>
                    <a href="{{ path('app_voyage_virtuel_show', {'idvv': voyage_virtuel.idvv}) }}">show</a>
                    <a href="{{ path('app_voyage_virtuel_edit', {'idvv': voyage_virtuel.idvv}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_voyage_virtuel_new') }}">Create new</a>
{% endblock %}
