{% extends 'base.html.twig' %}

{% block title %}Paiement index{% endblock %}

{% block body %}
    <h1>Paiement index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>RefPaiement</th>
                <th>DatePaiement</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for paiement in paiements %}
            <tr>
                <td>{{ paiement.refPaiement }}</td>
                <td>{{ paiement.datePaiement ? paiement.datePaiement|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('app_paiement_show', {'refPaiement': paiement.refPaiement}) }}">show</a>
                    <a href="{{ path('app_paiement_edit', {'refPaiement': paiement.refPaiement}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_paiement_new') }}">Create new</a>
{% endblock %}
