{% extends 'base.html.twig' %}

{% block title %}Localisationvoyage index{% endblock %}

{% block body %}
    <h1>Localisationvoyage index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Idlocalisation</th>
                <th>Latitude</th>
                <th>Longitude</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for localisationvoyage in localisationvoyages %}
            <tr>
                <td>{{ localisationvoyage.idlocalisation }}</td>
                <td>{{ localisationvoyage.latitude }}</td>
                <td>{{ localisationvoyage.longitude }}</td>
                <td>
                    <a href="{{ path('app_localisationvoyage_show', {'idlocalisation': localisationvoyage.idlocalisation}) }}">show</a>
                    <a href="{{ path('app_localisationvoyage_edit', {'idlocalisation': localisationvoyage.idlocalisation}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_localisationvoyage_new') }}">Create new</a>
{% endblock %}
