{% extends 'base.html.twig' %}

{% block title %}Voiture index{% endblock %}

{% block body %}
    <h1>Voiture index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Idvoit</th>
                <th>Matricule</th>
                <th>PuissanceFiscalle</th>
                <th>ImageV</th>
                <th>Modele</th>
                <th>Type</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for voiture in voitures %}
            <tr>
                <td>{{ voiture.idvoit }}</td>
                <td>{{ voiture.matricule }}</td>
                <td>{{ voiture.puissanceFiscalle }}</td>
                <td>{{ voiture.imageV }}</td>
                <td>{{ voiture.modele }}</td>
                <td>{{ voiture.type }}</td>
                <td>
                    <a href="{{ path('app_voiture_show', {'idvoit': voiture.idvoit}) }}">show</a>
                    <a href="{{ path('app_voiture_edit', {'idvoit': voiture.idvoit}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_voiture_new') }}">Create new</a>
{% endblock %}
