{% extends 'base.html.twig' %}

{% block title %}Voiture{% endblock %}

{% block body %}
    <h1>Voiture</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Idvoit</th>
                <td>{{ voiture.idvoit }}</td>
            </tr>
            <tr>
                <th>Matricule</th>
                <td>{{ voiture.matricule }}</td>
            </tr>
            <tr>
                <th>PuissanceFiscalle</th>
                <td>{{ voiture.puissanceFiscalle }}</td>
            </tr>
            <tr>
                <th>ImageV</th>
                <td>{{ voiture.imageV }}</td>
            </tr>
            <tr>
                <th>Modele</th>
                <td>{{ voiture.modele }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ voiture.type }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_voiture_index') }}">back to list</a>

    <a href="{{ path('app_voiture_edit', {'idvoit': voiture.idvoit}) }}">edit</a>

    {{ include('voiture/_delete_form.html.twig') }}
{% endblock %}
