{% extends 'base.html.twig' %}

{% block title %}ReservationVoyage index{% endblock %}

{% block body %}
    <h1>ReservationVoyage index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Idrv</th>
                <th>DateDepart</th>
                <th>DateArrivee</th>
                <th>Etat</th>
                <th>Idu</th>
                <th>RefPaiement</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for reservation_voyage in reservation_voyages %}
            <tr>
                <td>{{ reservation_voyage.idrv }}</td>
                <td>{{ reservation_voyage.dateDepart ? reservation_voyage.dateDepart|date('Y-m-d') : '' }}</td>
                <td>{{ reservation_voyage.dateArrivee ? reservation_voyage.dateArrivee|date('Y-m-d') : '' }}</td>
                <td>{{ reservation_voyage.etat }}</td>
                <td>{{ reservation_voyage.idu }}</td>
                <td>{{ reservation_voyage.refPaiement }}</td>
                <td>
                    <a href="{{ path('app_reservation_voyage_show', {'idrv': reservation_voyage.idrv}) }}">show</a>
                    <a href="{{ path('app_reservation_voyage_edit', {'idrv': reservation_voyage.idrv}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_reservation_voyage_new') }}">Create new</a>
{% endblock %}
