{% extends 'base.html.twig' %}

{% block title %}ReservationVoiture index{% endblock %}

{% block body %}
    <h1>ReservationVoiture index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Idrvoit</th>
                <th>PrixRent</th>
                <th>Trajet</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for reservation_voiture in reservation_voitures %}
            <tr>
                <td>{{ reservation_voiture.idrvoit }}</td>
                <td>{{ reservation_voiture.prixRent }}</td>
                <td>{{ reservation_voiture.trajet }}</td>
                <td>
                    <a href="{{ path('app_reservation_voiture_show', {'idrvoit': reservation_voiture.idrvoit}) }}">show</a>
                    <a href="{{ path('app_reservation_voiture_edit', {'idrvoit': reservation_voiture.idrvoit}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_reservation_voiture_new') }}">Create new</a>
{% endblock %}
